/* App.css */
body, html, #root, .app {
  height: 100%;
  margin: 0;
  font-family: 'Courier New', monospace;
  background-color: #0e0a1a;
  color: white;
  overflow: hidden;
}

.main {
  display: flex;
  height: 100%;
  position: relative;
  z-index: 1;
}

/* General styles for content */
.content {
  max-width: 800px;
  margin: auto;
  font-size: 1.05rem;
  line-height: 1.7;
  color: #ddd; 
}

.content p {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.05rem;
  line-height: 1.7;
  margin-bottom: 1.5rem;
}


.content h2 {
  font-size: 2rem;
  color: #f9f;
}

.skills-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.skills-list li {
  background: #1f1835;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: 1px solid #ff66c4;
  color: #fff;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.75rem;
  border-radius: 5px;
  border: none;
  background: #1f1835;
  color: white;
}

.contact-form button {
  background-color: #ff66c4;
  border: none;
  padding: 0.75rem 2rem;
  color: #0e0a1a;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.contact-form button:hover {
  background-color: #fff;
  color: #ff66c4;
}